body{
	background-color: hsl(0, 0%, 95%);
}
.welcomeQuote{
	margin-top: 220px;
}

.quote{
	margin-top: 0px;
	color: ghostwhite;
	font-size: 90px;
	text-align: center;
	border-top: 5px solid dodgerblue;
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100vh;
	
}
.box1{
	width:100%;
}
video{
	width: 100%;
	box-sizing: border-box;
	position: absolute;
	z-index: 0;
}
@media only screen and (max-width600px){
	video{
		width: 100%;
	}
}
.quote{
	z-index: 1;
	position: relative;
	animation-name: changeFontSize;
	animation-duration: 1s;
}

@keyframes changeFontSize{
	from{font-size: 0px;}
	to{font-size: 90px;}
}
.art_heading{
	color: black;
	font-size: 40px;
	font-family: 'Bebas Neue', cursive;
	text-align: center;
	margin-top: 320px;
	animation-name: changeFontSizeOfArticle;
	animation-duration: 0s;
}

@keyframes changeFontSizeOfArticle{
	from{font-size: 0px;}
	to{font-size: 40px;}
}
.quote1{
	color: black;
	font-size: 50px;
	font-family: 'PT Serif', serif;
	text-align: center;
	margin-top: 450px;
	width: 75%;
	border-top: 5px dodgerblue solid;
	border-bottom: 5px dodgerblue solid;
	padding-top: 30px;
	padding-bottom: 30px;
	
}

.quote_container{
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 120px;
	
}
.art_container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
}
.thumbnail{
	width: 400px;
	margin: 10px;
}
.viewAll{
	text-align: center;
	margin-bottom: 50px;
}
.viewAll :hover{
	opacity: 0.9;
}
.viewAll button{
	background-color: dodgerblue;	
	padding: 8px 25px;
	border: none;
	border-radius: 30px;
}
.viewAll button a{
	color: white;
	font-size: 18px;
}
.footer-end{
	height: 70px;
	width: 100%;
	text-align: center;
	background-color: #b0b5bf;
	margin: 0px;
	border-top: 7px solid dodgerblue;
}
		
#my-email{
	text-decoration: none;
	color: white;
}
#company-name{
	margin-top: 20px;
	text-align: center;
	color: white;
}